<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="pics/logo.ico" rel="shortcut icon" type="image/x-icon" />

    <title>Techno</title>
</head>
<body>
<!--<div class="uppertxt"><p>Rozetka2</p></div>-->
<div class="wrapper">
    <header class="header">
        <div class="navbar">
            <div class="navbar_layout">
                <div class="navbar_menu">
                    <a class="home" href="index.html"><img width="50px" height="50px" src="pics/logo.png"></a>
                    <a href="catalog.html" class="catalog">catalog</a>

                    <div class="search_bar">
                        <form action="#search_result" class="search_form">
                            <div class="search_form_wrapper">
                                <input type="text" placeholder="        Search" class="search_input">
                                <button type="button" class="search_cleaner">X</button>
                            </div>
                            <button class="search_submit">Submit</button>
                        </form>
                    </div>
                    <a href="#login_page.html" class="nav_login"><img width="30px" height="30px"
                                                                      src="pics/login.png"></a>
                    <a href="#basket_page.html" class="nav_cart"><img width="30px" height="30px"
                                                                      src="pics/basket.png"></a>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <!-- Боковая панель красно-черного цвета с полями категорий как у Rozetka -->
        <div class="sidebar">
            <div class="button-container">
                <div class="sidebar-button">
                    <img src="pics/telegram.png">
                    <span>Ой на горі монастир</span>
                </div>
                <div class="sidebar-button">
                    <img src="pics/telegram.png">
                    <span>Ой на горі монастиgdfgdfgfdgfgfdgfр</span>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <span class="left">All rights reserved &copy; 2023</span><span class="right">Social buttons
        <img src="pics/telegram.png" alt="Telegram group" title="Telegram group"/></span>
    </footer>
    <!--<footer class="footer">Hey Footer</footer>-->
</div>
</body>
</html>