<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="pics/logo.ico" rel="shortcut icon" type="image/x-icon" />

    <title>Techno</title>
</head>
<body>

<!--  Register page -->
<div class="wrapper">
    <h1>Регистрация</h1>
    <form>
        <label for="email">Электронная почта:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="phone">Номер телефона:</label>
        <input type="tel" id="phone" name="phone" required><br><br>

        <input type="submit" value="Зарегистрироваться">
    </form>


    <footer>
        <span class="left">All rights reserved &copy; 2023</span><span class="right">Social buttons
            <img src="pics/telegram.png" alt="Telegram group" title="Telegram group"/></span>
    </footer>
</div>
</body>
</html>

